<div class="large-4 columns">
  <% if session[:user_id] %>
  <h2>Logout</h2>
  <%= form_tag account_sessions_path, :method => :delete do %>
    <%= submit_tag 'Logout', :class => "button"%>
  <% end %>  
  <% else %>
  <h2>Login</h2>
  <%= form_tag account_sessions_path do %>
    <%= label_tag :email, 'Email' %>
    <%= text_field_tag :email, params[:email] %>
    <%= label_tag :password, 'Password' %>
    <%= password_field_tag :password %>
    <%= submit_tag 'Login', :class => "button"%>
  <% end %>
  <% end %>
</div>