<div class="panel">
  <div class="row">
    <div class="small-12 columns">
    <h2><%= @product_params[:title] %></h2>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <%= image_tag @product_params[:image_large_url], width: 160, style: 'padding: 10px' %>
    </div>
    <div class="large-9 columns">
      <%= form_for @review, url: account_product_reviews_path(product_id: @product_params[:asin]) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, value: @product_params[:title] %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <%= f.hidden_field :asin, value: @product_params[:asin] %>
      <%= f.submit 'Create', class: 'button' %>
      <% end %>
    </div>
  </div>
</div>
