<%= simple_form_for [:account, post] do |f| %>
<%= f.input :title %>
<%= f.input :body, input_html: { rows: 10 } %>
<div class="row">
  <div class="small-4 columns">
    <%= f.label :category %>
    <p><a href="#" data-dropdown="choose_post_categories" class="tiny button secondary">Choose...</a></p>
    <ul id="choose_post_categories" class="f-dropdown" data-dropdown-content>
      <% if current_user.categories.empty? %>
      <li><%= link_to 'New Category', new_account_category_path %></li>
      <% end %>
      <% current_user.categories.each do |category| %>
        <% if params[:action] == 'edit' && post.categories.include?(category) %>
        <li class="post_category category_selected" data-category-id="<%= category.id %>" data-category-selected="true"><a href="#"><%= category.name %></a></li>
        <% else %>
        <li class="post_category" data-category-id="<%= category.id %>" data-category-selected="false"><a href="#"><%= category.name %></a></li>
        <% end  %>
      <% end %>
    </ul>
  </div>
  <div class="small-8 columns">
    <ul id="new_post_categories" class="disc">
      <% if params[:action] == 'edit' %>
        <% post.categories.each do |category| %>
          <li id="post_category_<%= category.id %>"><%= category.name %></li>
        <% end %>
      <% end  %>
    </ul>
  </div>
  <div class="small-12 columns">
    <%= f.submit class: 'small button success' %>
    <% if params[:action] == 'edit' %>
    <%= hidden_field_tag 'post[category_ids]', "0,#{post.categories.map(&:id).join(',')}" %>
    <% else %>
    <%= hidden_field_tag 'post[category_ids]', "0" %>
    <% end %>
  </div>
</div>
<% end %>
