<div class="large-6" columns">
<h2>Create new post</h2>

<%= form_for [:account, @post] do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :body %>
<%= f.text_area :body, :style => 'height: 320px;' %>
<%= f.submit :class => 'button' %>
<% end %>
</div>