  <%= form_for [:account, user], :method => :post do |f| %>
    <label>Username: </label>
    <%= f.text_field :name %>
    <label>Email: </label>
    <%= f.text_field :email %>
    <label>Password: </label>
    <%= f.password_field :password %>
    <label>Password Confirmation: </label>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Create", :class => "button" %>
  <% end %>
