<div class="panel post">
  <h3><%= link_to post.title, post %></h3>
  <p><%= markdown post.body %></p>
  <div class="row">
    <div class="small-8 columns">
      Category:
      <p>
        <% post.categories.each do |category| %>
          <%= link_to category.name, category %>
        <% end %>
      </p>
    </div>
    <div class="small-3 columns">
      <p style="font-size:small;text-align:right;">by <b><%= post.user.name %></b><br>
        <%= post.created_at.strftime("%B %d, %Y") %></p>
    </div>
    <div class="small-1 columns" style="text-align: right;">
      <%= image_tag post.user.gravatar_url, :width => 48, :height => 48 %>
    </div>
  </div>
</div>
