<ul class="breadcrumbs">
  <li><%= link_to 'Dashboard', account_path %></li>
  <li><%= link_to "Your pages", account_pages_path %></li>
  <li class="current"><%= link_to "Editing page (#{@page.title})", edit_account_page_path(@page) %></li>
</ul>

<% if @page.title.present? %>
  <h2>Editing page (<%= @page.title %>)</h2>
<% else %>
  <h2>Editing page</h2>
<% end %>
<%= render :partial => 'form', :locals => {:page => @page } %>
