<div class="panel post">
  <h3><%= link_to page.title, [:account, page] %></h3>
  <p><%= abbrev page.body, 80 %></p>
  <div class="row">
    <div class="large-12 columns">
      <% if page.published_policy.active? %>
        <%= link_to 'Published', unpublish_account_page_path(page), method: :post, class: "small button radius secondary" %>
      <% else %>
        <%= link_to 'Publish', publish_account_page_path(page), method: :post, class: "small button" %>
      <% end %>
      &nbsp;
      <%= link_to 'Edit', edit_account_page_path(page), class: "small button" %>
      &nbsp;
      <%= link_to 'Delete', account_page_path(page), method: :delete, class: "small button alert", confirm: "Are you sure?" %>
    </div>
  </div>
</div>
