<div class="panel post">
  <h2><%= link_to post.title, [:account, post] %></h2>
  <p><%= abbrev post.body, 80 %></p>
  <div class="row">
    <div class="large-12 columns">
      Category:
      <p>
        <% post.categories.each do |category| %>
          <%= link_to category.name, [:account, category] %>
        <% end %>
      </p>
    </div>
    <div class="large-12 columns">
      <% if post.published_policy.active? %>
        <%= link_to 'Published', unpublish_account_post_path(post), method: :post, class: "small button secondary" %>
      <% else %>
        <%= link_to 'Publish', publish_account_post_path(post), method: :post, class: "small button success" %>
      <% end %>
      &nbsp;
      <%= link_to 'Edit', edit_account_post_path(post), class: "small button" %>
      &nbsp;
      <%= link_to 'Delete', account_post_path(post), method: :delete, class: "small button alert", confirm: "Are you sure?" %>
    </div>
  </div>
</div>
