<div class="panel">
  <h3><%= post.title %></h3>
  <p><%= abbrev(post.body) %></p>
  <div class="row" style="height:28px;">
    <div class="small-8 columns">
      Category:
      <p>
        <% post.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </p>
    </div>
    <div class="small-2 columns">
      <% if post.published? %>
        <%= form_for [:account, post] do |f| %>
          <%= hidden_field_tag 'post[published]', 0 %>
          <%= f.submit 'Published', :class => 'small button secondary' %>
        <% end %>    
      <% else %>
        <%= form_for [:account, post] do |f| %>
          <%= hidden_field_tag 'post[published]', 1 %>
          <%= f.submit 'Publish', :class => 'small button' %>
        <% end %>
      <% end %>
    </div>
    <div class="small-2 columns">
      <%= form_for [:account, post], :method => :delete do |f| %>
        <%= f.submit 'Delete', :class => 'small button alert', :confirm => 'Are you sure?' %>
      <% end %>
    </div>
  </div>
</div>
