<div class="panel post">
  <h3><%= link_to post.title, [:account, post] %></h3>
  <p><%= abbrev post.body, 80 %></p>
  <div class="row">
    <div class="large-12 columns">
      Category:
      <p>
        <% post.categories.each do |category| %>
          <%= link_to category.name, [:account, category] %>
        <% end %>
      </p>
    </div>
    <div class="large-12 columns">
      <% if post.published_policy.active? %>
        <%= link_to 'Published', unpublish_account_post_path(post), method: :post, class: "small button radius secondary" %>
      <% else %>
        <%= link_to 'Publish', publish_account_post_path(post), method: :post, class: "small button radius success" %>
      <% end %>
      &nbsp;
      <%= link_to 'Edit', edit_account_post_path(post), class: "small button radius" %>
      &nbsp;
      <%= link_to 'Delete', account_post_path(post), method: :delete, class: "small button radius alert", confirm: "Are you sure?" %>
    </div>
  </div>
</div>
