<% if current_user %>
  <div class="large-9 columns">
    <h3>New Post</h3>

    <p><a href="#" id="toggle_new_post" class="button small">Create new post</a></p>

    <div id="new_post" style="display:none;">
      <%= render :partial => 'account/posts/form', :locals => { :post => @post } %>
    </div>
    <h3>Recent Posts</h3>
    <%= render :partial => 'account/posts', :locals => { :posts => @posts } %>
  </div>
  <div class="large-3 columns">
    <h3>Logout</h3>
    <%= render :partial => 'account/sessions/form_logout' %>
  </div>
<% else %>
  <div class="large-6 columns">
    <h2>Login</h2>
    <%= render :partial => 'account/sessions/form_login' %>
  </div>

  <div class="large-6 column">
    <h2>Create your account</h2>
    <%= render :partial => 'account/users/form', :locals => { :user => @user } %>
  </div>
<% end %>