<% content_for :title do %>
  <% if current_user %>
    <%= rdaily_title('Dashboard') %>
  <% else %>
    <%= rdaily_title('Login') %>
  <% end %>
<% end %>
<% if current_user %>
  <div class="large-3 columns">
      <h3><%= link_to 'Posts', account_posts_path %></h3>
      <p><%= link_to 'Create New', new_account_post_path %></p>
      <h3><%= link_to 'Pages', account_pages_path %></h3>
      <p><%= link_to 'Create New', new_account_page_path%></p>
      <h3><%= link_to 'Categories', account_categories_path %></h3>
      <p><%= link_to 'Create New', new_account_category_path %></p>
    <%= render :partial => 'account/sessions/form_logout' %>
  </div>
  <div class="large-9 columns">
    <%= yield %>
  </div>  
<% else %>
  <div class="large-6 columns">
    <h2>Login</h2>
    <%= render :partial => 'account/sessions/form_login' %>
  </div>

  <div class="large-6 column">
    <% if false %>
    <h2>Create your account</h2>
    <%= render :partial => 'account/users/form', :locals => { :user => @user } %>
    <% end %>
  </div>
<% end %>
<% parent_layout 'application' %>
