<% content_for :title do %>
  <% if current_user %>
    <%= rdaily_title('Dashboard') %>
  <% else %>
    <%= rdaily_title('Login') %>
  <% end %>
<% end %>
<% if current_user %>
  <div class="large-3 columns">
    <div class="section-container accordion" data-section="accordion">
      <section>
        <p class="title" data-section-title><a href="#">Posts</a></p>
        <div class="content" data-section-conent>
          <%= link_to 'Your Posts', account_posts_path %>
        </div>
        <div class="content" data-section-conent>
          <%= link_to 'Create New', new_account_post_path %>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Reviews</a></p>
        <div class="content" data-section-conent>
          <%= link_to 'Your Reviews', account_reviews_path %>
        </div>
        <div class="content" data-section-conent>
          <%= link_to 'Create New', new_account_review_path%>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Pages</a></p>
        <div class="content" data-section-conent>
          <%= link_to 'Your Pages', account_pages_path %>
        </div>
        <div class="content" data-section-conent>
          <%= link_to 'Create New', new_account_page_path%>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Categories</a></p>
        <div class="content" data-section-conent>
          <%= link_to 'Your Categories', account_categories_path %>
        </div>
        <div class="content" data-section-conent>
          <%= link_to 'Create New', new_account_category_path %>
        </div>
      </section>
    </div>
    <%= render :partial => 'account/sessions/form_logout' %>
  </div>
  <div class="large-9 columns">
    <%= yield %>
  </div>  
<% else %>
  <div class="large-6 columns">
    <h2>Login</h2>
    <%= render :partial => 'account/sessions/form_login' %>
  </div>

  <div class="large-6 column">
    <% if false %>
    <h2>Create your account</h2>
    <%= render :partial => 'account/users/form', :locals => { :user => @user } %>
    <% end %>
  </div>
<% end %>
<% parent_layout 'application' %>