<% content_for :title do %>
  <% if current_user %>
    <%= rdaily_title('Dashboard') %>
  <% else %>
    <%= rdaily_title('Login') %>
  <% end %>
<% end %>
<% if current_user %>
  <div class="medium-3 columns">
    <nav>
      <div class="sidebar">
        <ul class="side-nav">
          <li class="heading">MENU</li>
          <li>
            <%= link_to 'Posts', account_posts_path %>
          </li>
          <li>
            <%= link_to 'Pages', account_pages_path %>
          </li>
          <li>
            <%= link_to 'Categories', account_categories_path %>
          </li>
        </ul>
        <%= render partial: 'account/sessions/form_logout' %>
      </div>
    </nav>
  </div>
  <div class="medium-9 columns">
    <%= yield %>
  </div>
<% else %>
  <div class="medium-6 columns">
    <h2>Login</h2>
    <%= render partial: 'account/sessions/form_login' %>
  </div>

  <div class="medium-6 column">
    <% if false %>
    <h2>Create your account</h2>
    <%= render partial: 'account/users/form', locals: { user: @user } %>
    <% end %>
  </div>
<% end %>
<% parent_layout 'application' %>
