<% content_for :title do %>
  <% if current_user %>
    <%= rdaily_title('Dashboard') %>
  <% else %>
    <%= rdaily_title('Login') %>
  <% end %>
<% end %>
<% if current_user %>
  <div class="large-9 columns">
    <%= yield %>
  </div>
  <div class="large-3 columns">
    <h3>Posts</h3>
    <ul class="side-nav">
      <li><%= link_to 'Your Posts', account_posts_path %></li>
      <li><%= link_to 'Create New', new_account_post_path %></li>
    </ul>
    
    <h3>Reviews</h3>
    <ul class="side-nav">
      <li><%= link_to 'Your Reviews', account_reviews_path %></li>
      <li><%= link_to 'Create New', new_account_review_path%></li>
    </ul>
    
    <h3>Pages</h3>
    <ul class="side-nav">
      <li><%= link_to 'Your Pages', account_pages_path %></li>
      <li><%= link_to 'Create New', new_account_page_path%></li>
    </ul>
    
    <h3>Categories</h3>
    <ul class="side-nav">
      <li><%= link_to 'Your Categories', account_categories_path %></li>
      <li><%= link_to 'Create New', new_account_category_path %></li>
    </ul>

    <h3>Logout</h3>
    <%= render :partial => 'account/sessions/form_logout' %>
  </div>
<% else %>
  <div class="large-6 columns">
    <h2>Login</h2>
    <%= render :partial => 'account/sessions/form_login' %>
  </div>

  <div class="large-6 column">
    <% if false %>
    <h2>Create your account</h2>
    <%= render :partial => 'account/users/form', :locals => { :user => @user } %>
    <% end %>
  </div>
<% end %>
<% parent_layout 'application' %>