<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Rdaily" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <%= auto_discovery_link_tag :atom, "/feed" %>
    <%= auto_discovery_link_tag :rss, "/feed.rss" %>
  </head>

  <body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Rdaily</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li class="divider"></li>
          <li><a href="/about">About</a></li>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>
    
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <% if flash[:error] %>
          <div class="error"><%= flash[:error] %></div>
          <% end %>        
          <% if flash[:notice] %>
          <div class="notice panel callout radius"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:alert] %>
          <div class="alert panel callout radius" style="border-color:#ff8da1;backgroud:pink;"><%= flash[:alert] %></div>
          <% end %>
        </div>
      </div>
      
      <div class="row">
        <div class="twelve columns">      
          <%= yield %>
        </div>
      </div>
    </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
